<template>
  <div class="max-w-sm mx-auto p-4 bg-white rounded shadow-md text-lg">
    <div class="flex-shrink-0 bg-gray-200 p-4 mb-4 text-right">
      <span>{{ display || 0 }}</span>
    </div>

    <div class="grid grid-cols-4 gap-4">
      <div
        @click="clear"
        class="bg-blue-500 p-3 text-white text-center cursor-pointer rounded hover:bg-blue-400"
      >
        C
      </div>
      <div
      @click="append('%')"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        %
      </div>
      <div
        @click="negate"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        +/-
      </div>
      <div
        @click="append('/')"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        /
      </div>
      <div
        @click="append(7)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        7
      </div>
      <div
        @click="append(8)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        8
      </div>
      <div
        @click="append(9)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        9
      </div>
      <div
      @click="append('*')"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        x
      </div>
      <div
        @click="append(4)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        4
      </div>
      <div
        @click="append(5)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        5
      </div>
      <div
        @click="append(6)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        6
      </div>
      <div
      @click="append('-')"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        -
      </div>
      <div
        @click="append(1)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        1
      </div>
      <div
        @click="append(2)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        2
      </div>
      <div
        @click="append(3)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        3
      </div>
      <div
        @click="append('+')"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        +
      </div>
      <div
        @click="append(0)"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        0
      </div>
      <div
        @click="append('.')"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        .
      </div>
      <div
        @click="backspace"
        class="btn bg-red-600 p-3 text-white text-center cursor-pointer rounded hover:bg-red-500"
      >
        DEL
      </div>
      <div
        @click="equal"
        class="btn bg-gray-200 p-3 text-black text-center cursor-pointer rounded hover:bg-gray-100"
      >
        =
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      display: "",
      result: 0
    };
  },

  methods: {
    append(element) {
      this.display += element;
    },
    equal() {
      this.result = eval(this.display)
      this.display = this.result
      this.result = 0
    },
    clear() {
      this.display = "";
      this.result = 0;
    },
    backspace() {
      this.display = this.display.slice(0, -1);
    },
    negate() {
      this.display === "" ||
      this.display.endsWith("+" || "-" || "*" || "/" || "%")
        ? {}
        : this.display.startsWith("-")
        ? (this.display = Math.abs(eval(this.display)).toString())
        : (this.display = "-(" + this.display + ")");
      this.equal()
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
